<div class="form-group">
    <a class="btn btn-google-plus-style btn-lg btn-block" href="auth/google">
        <!-- <i class="fa-brands fa-google"></i> -->
        <i class="fab fa-google left"></i>
        <span>Login with <strong>Google</strong></span>
    </a>
</div>